<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

      
   
<link rel="stylesheet" href="{% static 'gate\css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'gate\css/logincss.scss' %}">

<link rel="stylesheet" href="{% static 'gate\style.css' %}">
 
 




    <title>  {% block title %}{% endblock title %} |Document</title>

</head>
<body>

<!-- start base code of  main gate -->

<div class="container-fluid">
 
    <header>
       <div class="row row1">
          <div class="col-md-12">
             <div class="center_aligned">

                <div class="logo_box">
                   <img class="main_logo" src="{% static 'gate\images/logo.png' %}" title="COMSATS UNIVERSITY ISLAMABAD"
                      alt="COMSATS UNIVERSITY ISLAMABAD" />
                   <img class="desktop_hide main_logo_text" src="{% static 'gate\images/logotext.png' %}"
                      title="COMSATS UNIVERSITY ISLAMABAD" alt="COMSATS UNIVERSITY ISLAMABAD" />
                   <img class="desktop_hide sub_logo_text" src="{% static 'gate\images/ctms.png' %}" />
                </div>
                <div class="logo_text1 mobile_hide"><img src="{% static 'gate\images/logotext.png' %}"
                      title="COMSATS UNIVERSITY ISLAMABAD" alt="COMSATS UNIVERSITY ISLAMABAD" /></div>
                <div class="logo_text2 mobile_hide"><img src="{% static 'gate\images/ctms.png' %}" /></div>
             </div>

          </div>
       </div>
    </header>



    <div class="row" style="margin-top:60px ;">



       <div class="col-md-1"></div>
       <div class="col-md-10">



          <nav class="nav">
             <div class="container">

                <div class="main_list" id="mainListDiv">
                   <ul>
                      <li><a href="/8084/addvistors"> Add Visitors</a></li>
                      <li><a href="/8084/veheclein\">Vehicle In</a></li>
                      <li><a href="/8084/visitordetails\"> Visitor Detail</a></li>
                      <li><a href="/8084/logout\">Log Out</a></li>

                   </ul>
                </div>

             </div>
          </nav>

          

       </div>
       <div class="col-md-1"></div>

    </div>

    

    


 </div>



<!-- end base code of  main gate -->

<div class="container " style="display: flex;">

    {% block body %}{% endblock body %}

</div>
 


<!-- foter start -->
<div class="container-fluid">


  
   <footer>
       <div class="row row4">
          <div class="col-md-12">
             <div class="center_aligned">
                <p>Copyright © 2018, All Rights Reserved by CUOnline-COMSATS-Sahiwal</p>
                <p>View Road, Comsats University Islamabad (Sahiwal Campus), Sahiwal 57000, Pakistan</p>
   
             </div>
   
          </div>
       </div>
    </footer>
   
     

     


  </div>


<!-- fotter end -->



 <!-- Alerts links -->
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <!--JQuery CDN-->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <!--Sweet Alert CDN-->
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script>


       $('.delete').on('click',function (e) {
             e.preventDefault();
             var self = $(this);
             console.log(self.data('title'));
             Swal.fire({
                 title: 'Are you sure?',
                 text: "You won't be able to revert this!",
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes, delete it!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     Swal.fire(
                         'Deleted!',
                         'Your file has been deleted.',
                         'success'
                     )
                   location.href = self.attr('href');
                 }
                 else {
         swal.fire("Your imaginary file is safe!");
       }
             })
     
         })
     
         {% for msg in messages %}
         swal.fire('{{msg}}',Swal.fire(
           'Your file has been deleted.',
           'success'
       ));
         {% endfor %}
     </script>






<script src="{% static 'gate\js/jquery.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'gate\js/bootstrap.min.js' %}"></script>
<script src="{% static 'gate\js/style.js' %}"></script>
<script src="{% static 'gate\js/scripts.js' %}"></script>
<script src="{% static 'gate\js/loginjs.js' %}"></script>
</body>
</html>