{% extends 'gate/base.html' %}

{% load static %}

{% block title %} index {% endblock title %}

{% block body %}

<div class="col-sm-8 mx-1">

  <h4 class="text-center alert alert-info"> Show Student Information </h4>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Registration</th>
      <th scope="col">Section</th>
      <th scope="col">Project Name</th>
      <th scope="col">Project Field</th>
      <th scope="col">Superviser</th>
    </tr>
  </thead>
  <tbody>
    <!-- Run a for loop here and iterate through all the index -->
    {% for students in Task %}
    
    <tr>
      <th scope="row">{{forLoop.counter}}</th>
      <td>{{students.name}}</td>
      <td>{{students.reg}}</td>
      <td>{{students.sec}}</td>
      <td>{{students.project_name}}</td>
      <td>{{students.project_field}}</td>
      <td>{{students.superident}}</td>
    </tr>
    
    {% endfor %}

  </tbody>

 
</table>



</div>

{% endblock body %}

