{% extends 'gate/base.html' %}
{% load static %}


{% block title %} index {% endblock title %}

{% block body %}

 
 

<section class="home" style="background-color:transparent ;">



    <div class="row" style="margin-top:40px ;">


        <div class="col-md-12">
           <h1 style="text-align: center; color: white;">Visitors Detail </h1>
        </div>
     </div>

     
<div class="row" style="margin-top:40px ;">


    

    <div class="col-md-1"></div>
    <div class="col-md-10">
    
    
       <table class="table table1 " style="color: white; ">
          <thead>
            <tr style="background-color:#572B77; ">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">CNIC</th>
              <th scope="col">Purpose</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Out-Time</th>
               
              
            </tr>
          </thead>
          <tbody>
            {% for data in allvistors %}
            <tr style="background-color:#d9b0f7;">
            <th scope="col">{{forloop.counter}}</th>
            <th scope="col">{{data.name}}</th>
            <th scope="col">{{data.cnic}}</th>
            <th scope="col">{{data.purpose}}</th>
            <th scope="col">{{data.date1}}</th>
            <th scope="col">{{data.outtime}}</th>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
    
    
    
    
    
         
    
    </div>
    <div class="col-md-1"></div>
    
    
  





</div>


</section>



 

{% endblock body %}
























