<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title >Cui Sahiwal Transport</title>




	<!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'assets/styles/style.min.css' %}">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="{% static 'assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css' %}">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="{% static 'assets/plugin/waves/waves.min.css' %}">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="{% static 'assets/plugin/sweet-alert/sweetalert.css' %}">
    
     <!-- Color Picker -->
     <link rel="stylesheet" href="{% static 'assets/color-switcher/color-switcher.min.css' %}">









     <!-- data tables -->

     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
</head>

<body>
    <div class="main-menu">
        <header class="header">
            <a href="index.html" class="logo">COMSATS</a>
            <button type="button" class="button-close fa fa-times js__menu_close"></button>
            <div class="user">
                <a href="#" class="avatar"><img src="{% static 'profile.jpg' %}" alt=""><span class="status online"></span></a>
                <h5 class="name"><a href="#">Mr. Bilal</a></h5>
                <h5 class="position">Administrator</h5>
                <!-- /.name -->
                <div class="control-wrap js__drop_down">
                    <!-- <i class="fa fa-caret-down js__drop_down_button"></i>
                    <div class="control-list">
                        <div class="control-item"><a href="profile\"><i class="fa fa-user"></i> Profile</a></div>
                        <div class="control-item"><a href="#"><i class="fa fa-gear"></i> Settings</a></div>
                        <div class="control-item"><a href="#"><i class="fa fa-sign-out"></i> Log out</a></div>
                    </div> -->
                    <!-- /.control-list -->
                </div>
                <!-- /.control-wrap -->
            </div>
            <!-- /.user -->
        </header>
        <!-- /.header -->
        <div class="content">
    
            <div class="navigation">
                <h5 class="title">Navigation</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li class="current">
                        <a class="waves-effect" href="/8080/dashboard\"><i class="menu-icon fa fa-home"></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-flag"></i><span>Employee</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/8080/employye\">Add Emplyee Detail</a></li>
                            <li><a href="/8080/e_show\">Show Employees Detail</a></li>
                        </ul>
                        <!-- /.sub-menu js__content -->
                    </li>
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-bus"></i><span>Transport</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/8080/v_register\">Register Vehicles</a></li>
                            <li><a href="/8080/v_route\">Routes</a></li>
                            <li><a href="/8080/v_maintenance\">Maintainance</a></li>
                            <li><a href="/8080/v_vmo\">Vehucle Movement Order</a></li>
                            <li><a href="/8080/v_readings\">Vehicle Readings</a></li>

                        </ul>
                        <!-- /.sub-menu js__content -->
                    </li>


                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-users"></i><span>Students</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/8080/s_Accounts\">Register Accounts</a></li>
                            <li><a href="/8080/s_transport_user\">Transport Users</a></li>
                            <li><a href="/8080/s_fee_defaulters\">Fee Defaulters</a></li>
                            <li><a href="/8080/s_fee_verified\">Verified Students</a></li>
                            <li><a href="/8080/s_registeration_request\">Verification Requests</a></li>
                        </ul>
                        <!-- /.sub-menu js__content -->
                    </li>
                    
                    
                </ul>
                <!-- /.menu js__accordion -->
                <h5 class="title">Components</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-bar-chart"></i><span>Add Minor</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/8080/m_city\">Add City</a></li>
                            <li><a href="/8080/m_route\">Add Route</a></li>
                            <li><a href="/8080/m_stop\">Add stop</a></li>
                            <li><a href="/8080/m_sessions\">Add Sessions</a></li>
                            <li><a href="/8080/m_professions\">Add Professions</a></li>

                        </ul>
                        <!-- /.sub-menu js__content -->
                    </li>
             
                </ul>
             
               
                <!-- /.menu js__accordion -->
            </div>
            <!-- /.navigation -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-menu -->
    
    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title">Home</h1>
            <!-- /.page-title -->
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
            <div class="ico-item">
                <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
                <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="fa fa-search button-search" type="submit"></button></form>
                <!-- /.searchform -->
            </div>
            <!-- /.ico-item -->
            <div class="ico-item fa fa-arrows-alt js__full_screen"></div>
            <!-- /.ico-item fa fa-fa-arrows-alt -->
            <div class="ico-item toggle-hover js__drop_down ">
                <span class="fa fa-th js__drop_down_button"></span>
                <div class="toggle-content">
                    <ul>
                        <li><a href="#"><i class="fa fa-github"></i><span class="txt">Github</span></a></li>
                        <li><a href="#"><i class="fa fa-bitbucket"></i><span class="txt">Bitbucket</span></a></li>
                        <li><a href="#"><i class="fa fa-slack"></i><span class="txt">Slack</span></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i><span class="txt">Dribbble</span></a></li>
                        <li><a href="#"><i class="fa fa-amazon"></i><span class="txt">Amazon</span></a></li>
                        <li><a href="#"><i class="fa fa-dropbox"></i><span class="txt">Dropbox</span></a></li>
                    </ul>
                    <a href="#" class="read-more">More</a>
                </div>
                <!-- /.toggle-content -->
            </div>
            <!-- /.ico-item -->
            <a href="#" class="ico-item fa fa-envelope notice-alarm js__toggle_open" data-target="#message-popup"></a>
            <a href="#" class="ico-item pulse"><span class="ico-item fa fa-bell notice-alarm js__toggle_open" data-target="#notification-popup"></span></a>
            <a href="/8080/logout" class="ico-item fa fa-power-off logout"></a>
        </div>
        <!-- /.pull-right -->
    </div>
    <!-- /.fixed-navbar -->
    
    <div id="notification-popup" class="notice-popup js__toggle" data-space="75">
        <h2 class="popup-title">Your Notifications</h2>
        <!-- /.popup-title -->
        <div class="content">
            <ul class="notice-list">
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">John Doe</span>
                        <span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
                        <span class="time">10 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Anna William</span>
                        <span class="desc">Like your post: “Facebook Messenger”</span>
                        <span class="time">15 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar bg-warning"><i class="fa fa-warning"></i></span>
                        <span class="name">Update Status</span>
                        <span class="desc">Failed to get available update data. To ensure the please contact us.</span>
                        <span class="time">30 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/128x128" alt=""></span>
                        <span class="name">Jennifer</span>
                        <span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
                        <span class="time">45 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Michael Zenaty</span>
                        <span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
                        <span class="time">50 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Simon</span>
                        <span class="desc">Like your post: “Facebook Messenger”</span>
                        <span class="time">1 hour</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar bg-violet"><i class="fa fa-flag"></i></span>
                        <span class="name">Account Contact Change</span>
                        <span class="desc">A contact detail associated with your account has been changed.</span>
                        <span class="time">2 hours</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Helen 987</span>
                        <span class="desc">Like your post: “Facebook Messenger”</span>
                        <span class="time">Yesterday</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/128x128" alt=""></span>
                        <span class="name">Denise Jenny</span>
                        <span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
                        <span class="time">Oct, 28</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Thomas William</span>
                        <span class="desc">Like your post: “Facebook Messenger”</span>
                        <span class="time">Oct, 27</span>
                    </a>
                </li>
            </ul>
            <!-- /.notice-list -->
            <a href="#" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a>
        </div>
        <!-- /.content -->
    </div>
    <!-- /#notification-popup -->
    
    <div id="message-popup" class="notice-popup js__toggle" data-space="75">
        <h2 class="popup-title">Recent Messages<a href="#" class="pull-right text-danger">New message</a></h2>
        <!-- /.popup-title -->
        <div class="content">
            <ul class="notice-list">
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">John Doe</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">10 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Harry Halen</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">15 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Thomas Taylor</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">30 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/128x128" alt=""></span>
                        <span class="name">Jennifer</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">45 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/80x80" alt=""></span>
                        <span class="name">Helen Candy</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">45 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/128x128" alt=""></span>
                        <span class="name">Anna Cavan</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">1 hour ago</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar bg-success"><i class="fa fa-user"></i></span>
                        <span class="name">Jenny Betty</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">1 day ago</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar"><img src="http://placehold.it/128x128" alt=""></span>
                        <span class="name">Denise Peterson</span>
                        <span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
                        <span class="time">1 year ago</span>
                    </a>
                </li>
            </ul>
            <!-- /.notice-list -->
            <a href="#" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a>
        </div>
        <!-- /.content -->
    </div>
    <!-- /#message-popup -->

    









{% block body %}{% endblock body %}











<!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/scripts/jquery.min.js' %}"></script>
	<script src="{% static 'assets/scripts/modernizr.min.js' %}"></script>
	<script src="{% static 'assets/plugin/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script src="{% static 'assets/plugin/nprogress/nprogress.js' %}"></script>
	<script src="{% static 'assets/plugin/sweet-alert/sweetalert.min.js' %}"></script>
    
	<script src="{% static 'assets/plugin/waves/waves.min.js' %}"></script>
	<!-- Full Screen Plugin -->
	<script src="{% static 'assets/plugin/fullscreen/jquery.fullscreen-min.js' %}"></script>
    
	<script src="{% static 'assets/scripts/main.min.js' %}"></script>
	<script src="{% static 'assets/color-switcher/color-switcher.min.js' %}"></script>



      <!-- Alerts links -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!--JQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!--Sweet Alert CDN-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

       <script>
 

 $('.logout').on('click',function (e) {
        e.preventDefault();
        var self = $(this);
        console.log(self.data('title'));
        Swal.fire({
            title: 'Logout?',
            text: "Are you sure you want to logout?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6', 
            confirmButtonText: 'Yes, Logout'
        }).then((result) => {
            if (result.isConfirmed) {
                // Swal.fire(
                //     // 'Deleted!',
                //     // 'Your file has been deleted.',
                //     // 'success'
                // )
              location.href = self.attr('href');
            }
            
        })

    })


</script>

	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>	
    
    
    
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 
    
    
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script> 
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script> 
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script> 












    
    
    <!-- example 1 -->
    



    <script type="text/javascript">
        $(document).ready(function() 
        { 
            $('#example').DataTable( 
            { 
                dom: 'Blfrtip',
            } );
        
        } );
        </script>
    

        <!-- example 2 -->
    
        <script type="text/javascript">
            $(document).ready(function() 
            { 
                $('#example2').DataTable( 
                { 
                    dom: 'Blfrtip',
                } );
            
            } );
            </script>

             <!-- example 3 -->
    
        <script type="text/javascript">
            $(document).ready(function() 
            { 
                $('#example3').DataTable( 
                { 
                    dom: 'Blfrtip',
                } );
            
            } );
            </script>

             <!-- example 4 -->
    
        <script type="text/javascript">
            $(document).ready(function() 
            { 
                $('#example4').DataTable( 
                { 
                    dom: 'Blfrtip',
                } );
            
            } );
            </script>



 <!-- example 5 -->
    
 <script type="text/javascript">
    $(document).ready(function() 
    { 
        $('#example5').DataTable( 
        { 
            dom: 'Blfrtip',
        } );
    
    } );
    </script>

     <!-- example 6 -->
    
     <script type="text/javascript">
        $(document).ready(function() 
        { 
            $('#example6').DataTable( 
            { 
                dom: 'Blfrtip',
            } );
        
        } );
        </script>

         <!-- example 7 -->
    
         <script type="text/javascript">
            $(document).ready(function() 
            { 
                $('#example7').DataTable( 
                { 
                    dom: 'Blfrtip',
                } );
            
            } );
            </script>












    
    
    <!-- exapmle 1 -->
    <script type="text/javascripth">
        $(document).ready(function() 
        { 
            $('#example').DataTable( 
            {             
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Blfrtip',
                buttons: [      
                    {
                        extend: 'excelHtml5',
                        title: 'students excel',
                        text:'Export to Excel' 
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'students csv',                    
                        text: 'Export to CSV' 
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'students pdf',
                        className: 'btn_pdf',
                        text: 'Export to PDF' 
                    },
               ]	        
            });
            
            $('.btn_pdf').attr("class","btn btn-success");
    
        } );
        </script>



<!-- exapmle 2 -->
<script type="text/javascripta">
    $(document).ready(function() 
    { 
        $('#example2').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>

    <!-- exapmle 3 -->
<script type="text/javascriptb">
    $(document).ready(function() 
    { 
        $('#example3').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>


<!-- exapmle 4 -->
<script type="text/javascriptc">
    $(document).ready(function() 
    { 
        $('#example4').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>


<!-- exapmle 5 -->
<script type="text/javascriptd">
    $(document).ready(function() 
    { 
        $('#example5').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>


<!-- exapmle 6 -->
<script type="text/javascripte">
    $(document).ready(function() 
    { 
        $('#example6').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>

    <!-- exapmle 7 -->
<script type="text/javascriptf">
    $(document).ready(function() 
    { 
        $('#example7').DataTable( 
        {             
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'students excel',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'students csv',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'students pdf',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                },
           ]	        
        });
        
        $('.btn_pdf').attr("class","btn btn-success");

    } );
    </script>




    



    
</body>
</html>