{% extends 'home/reportbase.html' %}
{% load static %}
{% block body %}


<div id="wrapper">
  <div class="main-content">
    <div class="row small-spacing">
      <div class="col-xs-12">

        <div class="container-fluid" style="background-color: rgb(245, 247, 250);">
          <h3>Vehicle Movement Order</h3>
          <form method="post" action="">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-4">
                <label for="V_no">Vehicle Number</label>
                <select class="form-control col-md-4" name="vid" id="vid" required="">
                  <option value="">Select Vehicle</option>

                  {% for i in task3 %}

                  <option value="{{i.vehicleid}}">{{i.vehicleid}}</option>

                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="sec" class="form-label">Driver-1 ID</label>
                <select class="form-control col-md-4" name="d1" id="d1" required="">
                  <option value="">Select Driver</option>

                  {% for i in task1 %}

                  <option>{{i.name}}</option>

                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="sec" class="form-label">Helper-1 ID</label>
                <select class="form-control col-md-4" name="h1" id="h1" aria-placeholder="Helper 1 ID" required="">
                  <option value="">None</option>
                  {% for i in task2 %}

                  <option value="{{i.name}}">{{i.name}}</option>

                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="sec" class="form-label">Driver-2  (Optional)</label>
                <select class="form-control col-md-4" name="d2" id="d2">
                  <option value="">Select Driver</option>
                  {% for i in task1 %}
                  <option>{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="sec" class="form-label">Helper-2 (Optional)</label>
                <select class="form-control col-md-4" name="h2" id="h2">
                  <option value="">Select Helper</option>
                  {% for i in task2 %}

                  <option>{{i.name}}</option>

                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="sec" class="form-label">Place to be Visit</label>
                <input type="text" class="form-control" id="station" name="station" placeholder="Station" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="V_no">Purpose of Visit</label>
                <input type="text" class="form-control" id="use" name="use" placeholder="Purpose of Visit" required="">
              </div>
              <div class="form-group col-md-4">
                <label for="name" class="form-label">Date</label>
                <input class="form-control" type="date" id="outdate" name="outdate" required="">
              </div>
              <div class="form-group col-md-4">
                <label for="name" class="form-label">Time</label>
                <input class="form-control" type="Time" id="outtime" name="outtime" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="V_no">Vehicle Reading</label>
                <input type="number" class="form-control" min="1"id="outreading" name="outreading"
                  placeholder="Vehicle Reading" required="">
              </div>
              <div class="col-md-4">
                <label for="V_no">Submitted By</label>
                <input type="text" class="form-control" id="Submittedby" name="Submittedby" placeholder="Submitted By" required="">
              </div>
              <div class="col-md-4">
                <label for="V_no">Recommended By</label>
                <input type="text" class="form-control" id="recommendedby" name="recommendedby"
                  placeholder="Recommended By" required="">
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="V_no">Approved By</label>
                <input type="text" class="form-control" id="approvedby" name="approvedby" placeholder="Approved By" required="">
              </div>
              <div class="col-md-4"><br><button type="submit" class="btn btn-primary form-control"
                  style="margin-top: 10px;">Register</button></div>
            </div>


          </form>
        </div>


        <div class="container-fluid">


          <h4 class="text-center alert" style="background-color: #304FFE; color: white;">Vehicle Movement Order Record </h4>
      
      
      
      
      

          <table id="example" class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">Driver-1</th>
                <th scope="col">Helper-1</th>
                <th scope="col">Place</th>
                <th scope="col">Purpose</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Submitted By</th>
                <th scope="col">Recomanded By</th>
                <th scope="col">Approved By</th>
              
              </tr>
            </thead>
            <tbody>
              <!-- Run a for loop here and iterate through all the index -->
              
              
              {% for i in task %}
              <tr>
                <td class="table-secondary">{{forloop.counter}}</td>
                <td class="table-secondary">{{i.vid}}</td>
                <td class="table-secondary">{{i.d1}}</td>
                <td class="table-secondary">{{i.h1}}</td>
                <td class="table-secondary">{{i.station}}</td>
                <td class="table-secondary">{{i.use}}</td>
                <td class="table-secondary">{{i.use}}</td>
                <td class="table-secondary">{{i.use}}</td>
                <td class="table-secondary">{{i.Submittedby}}</td>
                <td class="table-secondary">{{i.recommendedby}}</td>
                <td class="table-secondary">{{i.approvedby}}</td>
         
              </tr>
              {% endfor %}
    
              
          
            </tbody>
          
           
          </table>

        </div>

        <!-- </div> -->
      </div>
    </div>
  </div>
</div>













      <!-- Alerts links -->
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <!--JQuery CDN-->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!--Sweet Alert CDN-->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
           <script>
     
    
            $('.delete').on('click',function (e) {
                  e.preventDefault();
                  var self = $(this);
                  console.log(self.data('title'));
                  Swal.fire({
                      title: 'Are you sure?',
                      text: "You won't be able to revert this!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                      if (result.isConfirmed) {
                          Swal.fire(
                              'Deleted!',
                              'Your file has been deleted.',
                              'success'
                          )
                        location.href = self.attr('href');
                      }
                      else {
              swal.fire("Your imaginary file is safe!");
            }
                  })
          
              })
          
              {% for msg in messages %}
              swal.fire('{{msg}}',Swal.fire(
                'Your file has been deleted.',
                'success'
            ));
              {% endfor %}
          </script>


{% endblock %}