{% extends 'student/base.html' %}
{% block title %}Contact{% endblock title %}
{% load static %}
{% block body %}



<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'student/images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item" ><a class="h2 text-primary font-secondary">Card</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->


<div class="container my-4" style="text-align: center; color: blue;">
  <div class="row">
    <div class="col-12">
      <h3>Cui Sahiwal Transport Card For Student</h3>
      <h5 style="margin-top: 20px;">Front Side</h5>

    </div>
  </div>
</div>

{% for student in task %}
<!-- card  Front  start-->
<div class="container my-4" style="border: 2px rgb(0, 0, 0) solid; height: 250px; border-radius: 30px; width: 450px;  background-color: rgb(255, 255, 255);">
  <div class="row">
    <div class="col-12" style="text-align: center; padding-top: 10px; color: rgb(16, 2, 43);">
      <h4>CUI SAHHIWAL</h4>
      
    </div>
  </div>

  <div class="row">

    <div class="col-4">
      <div class="monogram" style="height: 20px; width: 40px;">
          <img src="{% static 'student/images/about/1122.jpg' %}" class="card-img-top" alt="..." style="width: 100px; height: 100px;">
      </div>
  </div>

<div class="col-4 my-2" style="color: rgb(16, 2, 43);">
  <h3>Bus Card</h3>
  <h5>({{student.session1}})</h5>
</div>

    <div class="col-4">
      <div class="picture" style="height: 20px; width: 40px;">
          <img src="/media/{{student.image1}}" class="card-img-top" alt="..." style="width: 100px; height: 100px; border:  2px rgb(1, 1, 26) solid;">
      </div>
  </div>
  </div>

<div class="row my-4">
  <div class="col-12" style="margin-left: 10px;">
    <h4>   Name : {{student.name}}</h4>
    <h4>   Reg# : {{student.rigid}}</h4>
    
  </div>
  <div class="col-12">
    <h6 style="margin-left: 305px;">Signature</h6>
  </div>
</div>

</div>
<!-- card front end -->

<div class="container my-4" style="text-align: center; color: blue;">
  <div class="row">
    <div class="col-12">
      <h5 style="margin-top: 20px;">Back Side</h5>

    </div>
  </div>
</div>


<!-- card back start -->
<div class="container my-4" style="border: 2px rgb(0, 0, 0) solid; height: 250px; border-radius: 30px; width: 450px;  background-color: rgb(255, 255, 255);">
<div class="row" style="text-align: center;">
  <div class="col-12" >
    <h6 style="margin-top: 10px;">Route :- {{student.route}}</h6>
  </div>
  <div class="col-12">
    <h6>Student# {{student.ph}}</h6>
  </div>

  <div class="col-12" style="color: rgb(3, 3, 26);">
    <p style="font-size: x-small;"><b>issue on:</b> {{student.date1}} __________  <b>Expire on:</b> 12-12-2022 </p>
    <p style="font-size:x-small;"><b>if you find return on:</b> <br>Comsats University. OFF. G.T Road , Sahiwal. Tel. 040-4305011</p>

  </div>
</div>


<div class="row">
<div class="col-4"></div>
  <div class="col-5" >
    <div class="monogram" style="height: 20px; width: 40px; justify-content: center; align-items: center;">
        <img src="{% static 'student/images/about/1122.jpg' %}" class="card-img-top" alt="..." style="width: 85px; height: 85px; margin-left: 12px;">
    </div>
</div>
<div class="col-3"></div>

</div>

</div>

<!-- card back end -->
{% endfor %}


<!-- download button -->
<div class="container my-4" style="text-align: center; justify-content: center;">
  <h3>click here to download your card</h3>
  <button type="btn" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 50px;">Download</button>
</div>
{% endblock %}
