{% extends 'student/base.html' %}
{% block title %}ScholerShips{% endblock title %}
{% load static %}
{% block body %}

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>


<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'student/images/backgrounds/8.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">ScholerShips</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->



  <div class="container">
    <div class="col-xs-12 my-4">
    <h2 class="pl-2 mt-4 text-center">Download Transport Routes</h2>

      


      <form action="{%  url 'downloadroutes' %}" method="post">
        {% csrf_token %}
      <div class="row">
        

        
        <div class="col-12">
            <select class="form-control" name="routename" id="routename" required>
                <option value=""> Select Route To Download</option>
                {% for i in allroutes %}
              <option value="{{i.name}}">{{i.name}}</option>
               {% endfor %} 
              </select>
        </div>

        <div class="col-3 my-2">
          <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>

        </div>

      </div>
    </form>
  
    </div>  
  </div>
 





{% endblock %}
