{% extends 'student/base.html' %}
{% block title %}Teachers{% endblock title %}
{% load static %}
{% block body %}



<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/8.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Our teacher</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->


<!-- teachers -->
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- teacher category list -->
          <ul class="list-inline text-center filter-controls mb-5">
            <li class="list-inline-item m-3 text-uppercase" data-filter="cs">computer Science</li>
            <li class="list-inline-item m-3 text-uppercase" data-filter="ms">Management</li>
            <li class="list-inline-item m-3 text-uppercase" data-filter="ee">Electrical</li>
            <li class="list-inline-item m-3 text-uppercase" data-filter="me">Mechanical</li>
            <li class="list-inline-item m-3 text-uppercase" data-filter="fs">Food Sciences</li>
            <li class="list-inline-item m-3 text-uppercase" data-filter="mt">Maths</li>
          </ul>
        </div>
      </div>
      <!-- teacher list -->
      <div class="row filtr-container">
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/1.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Majid Hussain</h4>
              </a>
              <p>Assistant Professor / HoD</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/2.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Javed Ferzund</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/3.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Muhammad Farhan</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/4.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">	Dr. Tariq Ali</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/5.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Muhammad Shoaib</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/6.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Mazhar Sadiq</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/8.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Mr. Zafar Iqbal Roy</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/5.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Syed Ameer Ahmed Gillani</h4>
              </a>
              <p>Associate Professor
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/7.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Dr. Khalid Mahmood</h4>
              </a>
              <p>Lecturer </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="cs" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/9.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Mr. Tariq Rafiq</h4>
              </a>
              <p>Lecturer</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- teacher -->
        <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
          <div class="card border-0 rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms1.jpg' %}" alt="teacher">
            <div class="card-body">
              <a href="teacher-single.html">
                <h4 class="card-title">Qamar Uz Zaman </h4>
              </a>
              <p>HoD / Assistant Professor</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

       <!-- teacher -->
       <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms4.jpg' %}" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Dr. Khurram Abbas</h4>
            </a>
            <p>Assistant Professor</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
       <!-- teacher -->
       <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms5.jpg' %}" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Muhammad Zia Hassan</h4>
            </a>
            <p>Assistant Professor</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
 <!-- teacher -->
 <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms6.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Suhail Afzal Qureshi</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

 <!-- teacher -->
 <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms8.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Muzhar Javed</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 <!-- teacher -->
 <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms9.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">	Zunaira Khadim</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 <!-- teacher -->
 <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms10.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Minhas Akbar</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 <!-- teacher -->
 <div data-category="ms" class="col-lg-4 col-sm-6 mb-5 filtr-item my-3">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ms11.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr . Saqib Ali</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 <!-- teacher -->
 <div data-category="ee" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ee1.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Saqib Saleem</h4>
      </a>
      <p>Incharge / Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 <!-- teacher -->
  <div data-category="ee" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ee2.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr.Saeeda Usman</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- teacher -->   
<div data-category="ee" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/ee3.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr.Syed Aftab Naqvi</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="me" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/me1.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. M. Rafi Raza</h4>
      </a>
      <p>HoD / Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="me" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/me2.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Arslan Ahmed</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="me" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/me3.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Hafeez Ahmad</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="fs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/fs1.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Muhammad Ibrahim</h4>
      </a>
      <p>HoD / Assistant Professor </p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="fs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/fs2.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Awais Ihsan</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="fs" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/fs3.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">Dr. Sumaira Kanwal</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="mt" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/mt1.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">DR. MUHAMMAD Nouman</h4>
      </a>
      <p>HOD/Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="mt" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/mt2.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">DR. MUHAMMAD RAZA</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- teacher -->   
<div data-category="mt" class="col-lg-4 col-sm-6 mb-5 filtr-item">
  <div class="card border-0 rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{% static 'images/teachers/mt3.jpg' %}" alt="teacher">
    <div class="card-body">
      <a href="teacher-single.html">
        <h4 class="card-title">DR. Manzoor Ahmad Zahid</h4>
      </a>
      <p>Assistant Professor</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
        <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <!-- /teachers -->
  




{% endblock %}
