{% extends 'student/base.html' %}
{% block title %}Challan{% endblock title %}
{% load static %}

{% block body %}


<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'student/images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">About Us</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some
          universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->






<div class="container">

  {% if fllaagg == 1 %}
  <div class="row">
  
  
    <div class="col-sm-12 mx-1">
      
      <h4 class="text-center alert alert-info my-4">Update Your Paid Challan </h4>
  
      <form enctype="multipart/form-data" method="post" action="">
  
        {% csrf_token %}
        <!-- 1 -->
        <div class="mb-3">
          <label for="adress" class="form-label">Registration Number</label>
          <input type="text" class="form-control" id="rigid" name="rigid"
              placeholder="" value="{{user_name}}" readonly>
      </div>
  
      <!-- 2 -->
      <div class="mb-3">
        <label for="adress" class="form-label">Session</label>
        <input type="text" class="form-control" id="sesionn" name="sesionn"
            placeholder="" value="{{temp_session}}" readonly>
       </div>
        <!-- 3 -->
        <div class="mb-3">
          <label for="adress" class="form-label">Challan Image</label>
          <input type="file" class="form-control" id="image1" name="image1" accept="image/png, image/jpeg" required>
          <span>Upload your paid challan for registration confirmation</span>
        </div>
      <input type="text" name="challanupload" id="challanupload" value="challanuploaded" hidden>

        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Update</button>
      </form>
  
      
      
    </div>
  </div>
  {% endif %}



  {% if flaagg == 0 %}
<div class="row">


  <div class="col-sm-12 mx-1">
    
    <h4 class="text-center alert alert-info my-4">Upload Your Paid Challan </h4>

    <form enctype="multipart/form-data" method="post" action="">

      {% csrf_token %}
      <!-- 1 -->
      <div class="mb-3">
        <label for="adress" class="form-label">Registration Number</label>
        <input type="text" class="form-control" id="rigid" name="rigid"
            placeholder="" value="{{user_name}}" readonly>
    </div>

    <!-- 2 -->
    <div class="mb-3">
      <label for="adress" class="form-label">Session</label>
      <input type="text" class="form-control" id="sesionn" name="sesionn"
          placeholder="" value="{{temp_session}}" readonly>
     </div>
      <!-- 3 -->
      <div class="mb-3">
        <label for="adress" class="form-label">Challan Image</label>
        <input type="file" class="form-control" id="image1" name="image1" accept="image/png, image/jpeg" required>
        <span>Upload your paid challan for registration confirmation</span>
      </div>
      <input type="text" name="challanupload" id="challanupload" value="challanuploaded" hidden>

      <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
    </form>

    
    
  </div>
</div>
{% endif %}

{% if flaagg == 2  %}
<div class="row">
  <div class="col-sm-12 mx-1">
    <h2 class="pl-2 mt-4 text-center">Request Status</h2>
<div class="table-responsive">
<table class="table">
<thead>
 <tr>
    <th>#</th>
    <th>Reg#</th>
    <th>Session</th>
    <th>Submisiion Date</th>
    <th>Status</th>
    <th>Paid Amount</th>
    <th>Remaining</th>
    <th>Update</th>
 </tr>
</thead>
<tbody>
   <tr>
    {% for i in pendingchallan %}
    <td>{{forloop.counter}}</td>
    <td>{{i.rigid}}</td>
    <td>{{i.session}}</td>
    <td>{{i.date1}}</td>
    <td>{{i.status}}</td>
    <td>{{i.paid_amount}}</td>
    <td>{{i.remaining_amount}}</td>
    {% endfor %}
    <td>
      <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="update" id="update" value="updation" hidden>

        <button type="submit">Update</button>
      </form>
    </td>


 </tr>
</tbody>
</table>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->


  </div>

</div>
{% endif %}



<div class="row my-4">
  <div class="col-sm-12 mx-1">

    <h2 class="pl-2 mt-4 text-center">Fee History</h2>
<div class="table-responsive">
<table class="table">
<thead>
 <tr>
    <th>#</th>
    <th>Reg#</th>
    <th>Session</th>
    <th>Submisiion Date</th>
    <th>Status</th>
    <th>Paid Amount</th>
    <th>Remaining</th>
 </tr>
</thead>
<tbody>
   <tr>
    {% for i in allfees %}
    <td>{{forloop.counter}}</td>
    <td>{{i.rigid}}</td>
    <td>{{i.session}}</td>
    <td>{{i.date1}}</td>
    <td>{{i.status}}</td>
    <td>{{i.paid_amount}}</td>
    <td>{{i.remaining_amount}}</td>
    {% endfor %}

 </tr>
</tbody>
</table>
</div>
<p class="text-center"><strong>Note:</strong> if some documents are missing then please visit transport department</p>
<!-- Option 1: Bootstrap Bundle with Popper -->


  </div>

</div>


</div>
{% endblock %}