{% extends 'student/base.html' %}

{% load static %}

{% block body %}
<h1>name</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="name" id="name" placeholder="name">
  <h1>model</h1>
  <input type="text" name="model" id="model" placeholder="model">
<h1>catag</h1>
<input type="text" name="catag" id="catag" placeholder="catag">
<h1>price</h1>
<input type="text" name="price" id="price" placeholder="price">
<h1>image</h1>
<input type="file" id="image" name="image" accept="image/png, image/jpeg">

<button type="submit">submit</button>
</form>



{% endblock body %}

